.barGraphInfo {
    background-color: white ;
    color: black;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* #contianerMap {
	width:1000px;
	height:595px;
	margin: 0 auto;
	} */

/* #map {
		width:995px;
		height:445px;
		margin-left:215px;
		margin-top:13px;
} */


::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
  ::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }
  
  body {
    background: #111;
  }
  
  div {
    box-sizing: border-box;
  }
  
  .horizontal-scroll-wrapper {
    /* position: absolute; */
    display: block;
    top: 25px;
    left: 25px;
    width: calc(250px + 1px);
    max-height: 750px;
    margin: 10px;
    padding-top: 10px;
    background: teal;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform: rotate(-90deg) translateY(-250px);
            transform: rotate(-90deg) translateY(-250px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
  .horizontal-scroll-wrapper > div {
    display: block;
    padding: 25px;
    background: #cab;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
  
  .squares {
    padding: 250px 0 0 0;
  }
  .squares > div {
    width: 250px;
    height: 250px;
    margin: 10px 0;
  }



.card-block {
    min-height: 300px;
    
}

.inpageScroll {
 
    overflow: scroll;
}