<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/calculation">Investment Calculator</a>
        <a href="/mortgage">Mortgage Calculator</a>
        <a href="/amenity">Amenities</a>
        <a href="/about">About</a>
      </div>
    <div class="row">
        <div class="col-md-12 jumbotron text-center" style="background-image: url(https://tse4.mm.bing.net/th?id=OIP.8QgHF_QxuxhVJzKiD-03NwHaEK&pid=Api&P=0&w=338&h=191); background-size: 100% 100%;" >
          <h1 style="color: ivory;">About Us</h1>
          <p style="color: ivory;"></p>
        </div>
      </div>

<div class = "container-fluid">
    <div id= "row2" class = "row justify-content-center">
        <div class = "col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5603AQEcrxwErYfQMg/profile-displayphoto-shrink_200_200/0/1588639219983?e=1614211200&v=beta&t=qlbGy4MWbsqiekD5zc-6r7xMydbxMFWHZEnuBuyMNVo" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Nathan</h5>
                    <p class="card-text">I excel at simplifying processes for efficiency and efficacy through the use of varied technical tools and programs. I am adept at developing workflows and implementing tracking programs in Microsoft SharePoint and PowerBI. I have initiated continuous improvement projects, set goals with management, and developed systematic steps from start to completion.</p>
                    <a href="https://www.linkedin.com/in/nathan-ashbaugh/" target="_blank" class="btn btn-primary">Go to LinkedIn</a>
                </div>
            </div>
        </div>

        <div class = "col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5603AQGoffeXdkJpCw/profile-displayphoto-shrink_200_200/0/1593362621589?e=1614211200&v=beta&t=jQXS0eBuaHr2KGyqll-l2rMu7osHuqOHszbwSC3QOys"" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Rachel</h5>
                    <p class="card-text">Data Analyst with a B.S. in Mathematics and a M.A in Education. Strong Data Visualization skills such as Excel, VBA, Python, Pandas, and Web Development earned certificate from the UC Davis Data Analytics Bootcamp (Dec 2020). Growth mindset to learn any skills necessary to do the job well and efficiently.
                    </p>
                <a href="https://www.linkedin.com/in/rachelharless/" target="_blank"class="btn btn-primary">Go to LinkedIn</a>
                </div>
            </div> 
        </div> 
        <div class = "col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5635AQHLsVYr6yXsmA/profile-framedphoto-shrink_200_200/0/1607534565980?e=1608710400&v=beta&t=KYq9Y6nYRbU4bhkfJC_GeoYXBR-UghKvFBooew16OSM" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Taylor</h5>
                    <p class="card-text">Intrinsically motivated Backend Developer/Data Analyst with a proficiency in Python/Pandas, JavaScript, Excel and an ardent desire to write and troubleshoot code. A strong mathematical education coupled with a certificate from UC Davis’s data analytics bootcamp provides me with a proclivity for problem-solving, along with a technical toolset to turn ideas into actions.</p>
                <a href="https://www.linkedin.com/in/taylor-vought-6113151aa/" target="_blank" class="btn btn-primary">Go to LinkedIn</a>
                </div>
            </div> 
        </div> 
    </div> 
</div>
<div id = "row2" class = "container-fluid2"> 
    <div id = "secondrow" class = "row justify-content-center">
        <div class = "col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5603AQEzdAVdSFaTxg/profile-displayphoto-shrink_200_200/0/1583344439841?e=1614211200&v=beta&t=PVUNT_RYF1npJS6nid6akVqgHo10y2gyk-kU6ym-ljE" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Michael</h5>
                    <p class="card-text">I am an outgoing self motivated individual. I intend to continue to advance within my department and work on developing skills and talents that will help my company be successful in their endeavors.</p>
                    <a href="https://www.linkedin.com/in/muntz99/" target="_blank" class="btn btn-primary">Go to LinkedIn</a>
                </div>
            </div>
        </div>

        <div class = "col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5603AQEv2sxRNhFTkA/profile-displayphoto-shrink_200_200/0/1573107319746?e=1614211200&v=beta&t=1yoVS2ssZSUJXRpUz8zTY52p0Vf19nRjufIhWOViJkA" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kruti</h5>
                    <p class="card-text">Alumna from UC Davis with a major in Human Development and Family Studies and a minor in Public Health Sciences. Seeking roles in Data Science and Visualization.</p>
                <a href="https://www.linkedin.com/in/kruti-gandhi-07474217b/" target="_blank" class="btn btn-primary">Go to LinkedIn</a>
                </div>
            </div> 
        </div> 
    </div>            
</div>
<div id = "references" class = "container">
    <h4 style="color: rgb(75, 60, 131);">References</h4> <br>
    <a  style = color:rgb(75,60,131) href="https://rapidapi.com/theapiguy/api/national-weather-service?endpoint=apiendpoint_999ac894-03a3-4b5f-8c46-6cb89ad8a1a6" target = "_blank">Rapid API</a> <br>
    <a  style = color:rgb(75,60,131) href="https://www.zillow.com/?utm_content=1471764169%7C65545421228%7Caud-352785741284:kwd-570802407%7C483599861939%7C&semQue=null&k_clickid=_kenshoo_clickid_&gclid=CjwKCAiArIH_BRB2EiwALfbH1CbdORWyhpjyzhYNfSk6g4Zjnl-0ij0pH07jO4OAI1kR36REWXR9IRoCPXsQAvD_BwE" target = "_blank">Zillow: Real Estate </a> <br>
</div>
            
    
    
      
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://d3js.org/d3.v5.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="../static/js/about.js"></script>
    
</body>
</html>