<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
        <div class="topnav" id="nav">
            <a class="active" href="/">Home</a>
            <a href="/calculation">Investment Calculator</a>
            <a href="/amenity">Amenities</a>
            <a href="#about">About</a>
        </div>
    <p>This is a place holder</p>





</body>
</html>